# Repeated Guest Prediction: Hotel Customer Loyalty

## Part 1: Data Cleaning

Dataset: https://www.kaggle.com/datasets/mojtaba142/hotel-booking/data

### Column Description

- `hotel`:  The datasets contains the booking information of two hotel. One of the hotels is a resort hotel and the other is a city
- `is_canceled`: Value indicating if the booking was canceled (1) or not (0).
- `lead_time`: Number of days that elapsed between the entering date of the booking into the PMS and the arrival date.
- `arrival_date_year`: Year of arrival date
- `arrival_date_month`: Month of arrival date with 12 categories: “January” to “December”
- `arrival_date_week`: Week number of the arrival date
- `arrival_date_day`: Day of the month of the arrival date
- `stays_in_weekend_nights`: Day of the month of the arrival date
- `stays_in_week_nights`: Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel BO and BL/Calculated by counting the number of week nights
- `adults`: Number of adults
- `babies`: Number of babies
- `meal`: BB – Bed & Breakfast
- `country`: Country of origin.
- `market_segment`: Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour
- `distribution_channel`: Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”
- `is_repeated_guest`: Value indicating if the booking name was from a repeated guest (1) or not (0)
- `previous_cancellations`: Number of previous bookings that were cancelled by the customer prior to the current booking
- `previous_booking_not_canceled`: Number of previous bookings not cancelled by the customer prior to the current booking
- `reserved_room_type`: Code of room type reserved. Code is presented instead of designation for anonymity reasons
- `assigned_room_type`: Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved
- `booking_changes`: Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation
- `deposit_type`: No Deposit – no deposit was made; Non Refund – a deposit was made in the value of the total stay cost; Refundable – a deposit was made in the value of the total stay cost; Refundable – a deposit was made with a value under the total cost of stay.
- `agent`: ID of the travel agency that made the booking
- `company`: ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons
- `days_in_waiting_list`: Number of days the booking was in the waiting list before it was confirmed to the customer
- `customer_type`: Group – when the booking is associated to a group; Transient – when the booking is not part of a group or contract, and is not associated to other transient booking; Transient-party – when the booking is transient, but is associated to at least other transient booking
- `adr`: Average Daily Rate (Calculated by dividing the sum of all lodging transactions by the total number of staying nights)
- `required_car_parking_spaces`: Number of car parking spaces required by the customer
- `total_of_special_requests`: Number of special requests made by the customer (e.g. twin bed or high floor)
- `reservation_status`: Check-Out – customer has checked in but already departed; No-Show – customer did not check-in and did inform the hotel of the reason why
- `reservation_status_date`: Date at which the last status was set. This variable can be used in conjunction with the ReservationStatus to understand when was the booking canceled or when did the customer checked-out of the hotel
- `name`: Name of the Guest (Not real)
- `email`: Email (Not Real)
- `phone-number`: Phone number (not real)
- `credit_card`: Credit Card Number (not Real)

In [1]:
import sys
print(sys.version)

3.12.11 | packaged by Anaconda, Inc. | (main, Jun  5 2025, 08:03:38) [Clang 14.0.6 ]

In [2]:
# Import libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# read data

df0 = pd.read_csv('hotel_booking.csv.zip')
df = df0.copy()

## Initial Data Overview

In [4]:
df.shape

(119390, 36)

In [5]:
# Overview of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [6]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [7]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

## Data Cleaning

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [9]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [10]:
df.duplicated(keep=False).sum()

np.int64(0)

### Drop irrelevant columns

In [11]:
# Drop columns containing irrelevant info for the analysis

cols_to_drop = ['name','email','phone-number','credit_card']

df = df.drop(columns=cols_to_drop).reset_index(drop=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [13]:
# Check for duplication

df.duplicated(keep=False).sum()

np.int64(40165)

In [14]:
# Verify no duplication
print(f"Any duplicated rows: {df.duplicated().any()}")
print(f"Number of duplicated rows: {df.duplicated().sum()}")
print(f"Index has duplicates: {df.index.has_duplicates}")

Any duplicated rows: True
Number of duplicated rows: 31994
Index has duplicates: False

In [15]:
# Drop duplicates

df = df.drop_duplicates(keep=False)

df.duplicated(keep=False).sum()

np.int64(0)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79225 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           79225 non-null  object
 1   is_canceled                     79225 non-null  int64
 2   lead_time                       79225 non-null  int64
 3   arrival_date_year               79225 non-null  int64
 4   arrival_date_month              79225 non-null  object
 5   arrival_date_week_number        79225 non-null  int64
 6   arrival_date_day_of_month       79225 non-null  int64
 7   stays_in_weekend_nights         79225 non-null  int64
 8   stays_in_week_nights            79225 non-null  int64
 9   adults                          79225 non-null  int64
 10  children                        79221 non-null  float64
 11  babies                          79225 non-null  int64
 12  meal                            79225 non-null  object
 13  country                         78783 non-null  object
 14  market_segment                  79225 non-null  object
 15  distribution_channel            79225 non-null  object
 16  is_repeated_guest               79225 non-null  int64
 17  previous_cancellations          79225 non-null  int64
 18  previous_bookings_not_canceled  79225 non-null  int64
 19  reserved_room_type              79225 non-null  object
 20  assigned_room_type              79225 non-null  object
 21  booking_changes                 79225 non-null  int64
 22  deposit_type                    79225 non-null  object
 23  agent                           68105 non-null  float64
 24  company                         4742 non-null   float64
 25  days_in_waiting_list            79225 non-null  int64
 26  customer_type                   79225 non-null  object
 27  adr                             79225 non-null  float64
 28  required_car_parking_spaces     79225 non-null  int64
 29  total_of_special_requests       79225 non-null  int64
 30  reservation_status              79225 non-null  object
 31  reservation_status_date         79225 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 19.9+ MB

In [17]:
# Expand all output cols

pd.set_option('display.max_columns', None)

### Check for Missing Values

In [18]:
# Columns with Missing Values
cols_missing_data = df.columns[df.isnull().any()]

cols_missing_data

Index(['children', 'country', 'agent', 'company'], dtype='object')

In [19]:
# Total missing values: children

(df.children.isna().sum()/df.shape[0])*100

np.float64(0.0050489113284947935)

In [20]:
# Rows with missing data in col children

df[df.children.isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,NaN,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,NaN,0,BB,PRT,Direct,Undefined,0,0,0,B,B,0,No Deposit,14.0,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,NaN,NaN,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,NaN,0,BB,PRT,Online TA,Undefined,0,0,0,B,B,0,No Deposit,9.0,NaN,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [21]:
df.children.value_counts(dropna=False)

children
0.0     71048
1.0      4559
2.0      3539
3.0        74
NaN         4
10.0        1
Name: count, dtype: int64

In [22]:
# Delete rows where children is null
df = df.dropna(subset=['children'])

df.children.isna().sum()

np.int64(0)

In [23]:
# Convert data to the correct type
df.children = df.children.astype(int)

df.children.dtype

dtype('int64')

In [24]:
# Keep duplications out
df.duplicated(keep=False).sum()

np.int64(0)

In [25]:
# Total missing values: country
(df.country.isna().sum()/df.shape[0])*100

np.float64(0.5579328713346209)

In [26]:
df[df.country.isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,0,0,BB,NaN,Direct,Direct,0,0,0,A,A,2,No Deposit,NaN,NaN,0,Transient,62.0,0,2,Check-Out,2015-07-15
4127,Resort Hotel,1,0,2016,February,8,15,0,0,0,0,0,SC,NaN,Offline TA/TO,TA/TO,0,0,0,P,P,0,No Deposit,NaN,383.0,0,Transient,0.0,0,0,Canceled,2016-02-15
7092,Resort Hotel,1,8,2016,July,30,21,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,204.0,0,Transient,73.0,0,2,Canceled,2016-07-20
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2,0,0,HB,NaN,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,159.0,0,5,Canceled,2016-07-22
8779,Resort Hotel,1,0,2016,October,42,13,0,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,457.0,0,Transient,50.0,0,0,Canceled,2016-10-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31594,Resort Hotel,0,31,2016,December,53,30,0,2,1,0,0,HB,NaN,Groups,Direct,0,0,0,A,A,1,No Deposit,NaN,NaN,0,Transient-Party,222.5,0,1,Check-Out,2017-01-01
33087,Resort Hotel,0,4,2017,February,7,13,1,1,1,0,0,BB,NaN,Corporate,Corporate,0,0,0,A,D,0,No Deposit,NaN,135.0,0,Transient,38.5,1,0,Check-Out,2017-02-15
60651,City Hotel,1,0,2016,November,47,17,4,11,0,0,0,SC,NaN,Corporate,Direct,0,0,0,P,P,0,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled,2016-11-17
80830,City Hotel,0,4,2015,November,48,23,1,2,1,0,0,BB,NaN,Groups,TA/TO,0,0,0,A,A,0,No Deposit,37.0,NaN,0,Transient-Party,70.0,0,0,Check-Out,2015-11-26
101488,City Hotel,0,1,2016,November,47,13,2,2,2,0,0,BB,NaN,Direct,Direct,0,0,0,A,A,0,No Deposit,14.0,NaN,0,Group,105.0,0,1,Check-Out,2016-11-17

In [27]:
# Impute 'Unknown' into rows of 'country' col where data is missing

df['country'] = df['country'].fillna('Unknown')

df[df.country.isna()]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

In [28]:
df.country.value_counts(dropna=False)

country
PRT    24259
GBR     9557
FRA     8106
ESP     6725
DEU     4795
       ...
MLI        1
HND        1
BOL        1
GGY        1
NAM        1
Name: count, Length: 176, dtype: int64

In [29]:
df[df['country'] == 'Unknown']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,0,0,BB,Unknown,Direct,Direct,0,0,0,A,A,2,No Deposit,NaN,NaN,0,Transient,62.0,0,2,Check-Out,2015-07-15
4127,Resort Hotel,1,0,2016,February,8,15,0,0,0,0,0,SC,Unknown,Offline TA/TO,TA/TO,0,0,0,P,P,0,No Deposit,NaN,383.0,0,Transient,0.0,0,0,Canceled,2016-02-15
7092,Resort Hotel,1,8,2016,July,30,21,0,1,1,0,0,BB,Unknown,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,204.0,0,Transient,73.0,0,2,Canceled,2016-07-20
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2,0,0,HB,Unknown,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,159.0,0,5,Canceled,2016-07-22
8779,Resort Hotel,1,0,2016,October,42,13,0,1,1,0,0,BB,Unknown,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,457.0,0,Transient,50.0,0,0,Canceled,2016-10-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31594,Resort Hotel,0,31,2016,December,53,30,0,2,1,0,0,HB,Unknown,Groups,Direct,0,0,0,A,A,1,No Deposit,NaN,NaN,0,Transient-Party,222.5,0,1,Check-Out,2017-01-01
33087,Resort Hotel,0,4,2017,February,7,13,1,1,1,0,0,BB,Unknown,Corporate,Corporate,0,0,0,A,D,0,No Deposit,NaN,135.0,0,Transient,38.5,1,0,Check-Out,2017-02-15
60651,City Hotel,1,0,2016,November,47,17,4,11,0,0,0,SC,Unknown,Corporate,Direct,0,0,0,P,P,0,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled,2016-11-17
80830,City Hotel,0,4,2015,November,48,23,1,2,1,0,0,BB,Unknown,Groups,TA/TO,0,0,0,A,A,0,No Deposit,37.0,NaN,0,Transient-Party,70.0,0,0,Check-Out,2015-11-26
101488,City Hotel,0,1,2016,November,47,13,2,2,2,0,0,BB,Unknown,Direct,Direct,0,0,0,A,A,0,No Deposit,14.0,NaN,0,Group,105.0,0,1,Check-Out,2016-11-17

In [30]:
# Total missing values: agent

(df.agent.isna().sum()/df.shape[0])*100

np.float64(14.034157609724693)

In [31]:
df[df.agent.isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,0,0,BB,FRA,Corporate,Corporate,0,0,0,A,G,0,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119124,City Hotel,0,0,2017,August,35,29,0,1,1,0,0,BB,PRT,Complementary,Corporate,0,0,0,A,A,0,No Deposit,NaN,72.0,0,Transient,0.00,0,2,Check-Out,2017-08-30
119151,City Hotel,0,0,2017,August,35,29,0,1,2,2,0,BB,NLD,Direct,Direct,0,0,0,G,G,0,No Deposit,NaN,NaN,0,Transient,270.00,0,0,Check-Out,2017-08-30
119166,City Hotel,0,0,2017,August,35,30,0,1,1,0,0,BB,BRA,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,140.00,0,0,Check-Out,2017-08-31
119215,City Hotel,0,2,2017,August,35,31,0,1,1,0,0,SC,LBN,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,140.00,0,2,Check-Out,2017-09-01
119248,City Hotel,0,22,2017,August,35,29,0,3,1,0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,485.0,0,Transient,75.00,0,4,Check-Out,2017-09-01

In [32]:
df.agent.value_counts()

agent
9.0      26564
240.0    12375
14.0      3125
7.0       3111
250.0     2705
         ...
367.0        1
247.0        1
162.0        1
280.0        1
304.0        1
Name: count, Length: 321, dtype: int64

In [33]:
df.agent = df.agent.fillna(0)

df[df.agent.isna()]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

In [34]:
df['agent'] = df['agent'].astype(int)

In [35]:
df.agent.dtype

dtype('int64')

In [36]:
# Total missing values: company

(df.company.isna().sum()/df.shape[0])*100

np.float64(94.01421340301182)

In [37]:
# Dropping the company col due to high amount (> 94%) of missing data 

df = df.drop(columns='company')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79221 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           79221 non-null  object
 1   is_canceled                     79221 non-null  int64
 2   lead_time                       79221 non-null  int64
 3   arrival_date_year               79221 non-null  int64
 4   arrival_date_month              79221 non-null  object
 5   arrival_date_week_number        79221 non-null  int64
 6   arrival_date_day_of_month       79221 non-null  int64
 7   stays_in_weekend_nights         79221 non-null  int64
 8   stays_in_week_nights            79221 non-null  int64
 9   adults                          79221 non-null  int64
 10  children                        79221 non-null  int64
 11  babies                          79221 non-null  int64
 12  meal                            79221 non-null  object
 13  country                         79221 non-null  object
 14  market_segment                  79221 non-null  object
 15  distribution_channel            79221 non-null  object
 16  is_repeated_guest               79221 non-null  int64
 17  previous_cancellations          79221 non-null  int64
 18  previous_bookings_not_canceled  79221 non-null  int64
 19  reserved_room_type              79221 non-null  object
 20  assigned_room_type              79221 non-null  object
 21  booking_changes                 79221 non-null  int64
 22  deposit_type                    79221 non-null  object
 23  agent                           79221 non-null  int64
 24  days_in_waiting_list            79221 non-null  int64
 25  customer_type                   79221 non-null  object
 26  adr                             79221 non-null  float64
 27  required_car_parking_spaces     79221 non-null  int64
 28  total_of_special_requests       79221 non-null  int64
 29  reservation_status              79221 non-null  object
 30  reservation_status_date         79221 non-null  object
dtypes: float64(1), int64(18), object(12)
memory usage: 19.3+ MB

In [38]:
df.duplicated(keep=False).sum()

np.int64(8)

In [39]:
df = df.drop_duplicates(keep=False)

In [40]:
df.duplicated(keep=False).sum()

np.int64(0)

### Rename misspelled columns

In [41]:
cols_to_rename = {
    'is_canceled': 'is_cancelled',
    'previous_bookings_not_canceled': 'previous_bookings_not_cancelled' 
}

df = df.rename(columns=cols_to_rename)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79213 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   hotel                            79213 non-null  object
 1   is_cancelled                     79213 non-null  int64
 2   lead_time                        79213 non-null  int64
 3   arrival_date_year                79213 non-null  int64
 4   arrival_date_month               79213 non-null  object
 5   arrival_date_week_number         79213 non-null  int64
 6   arrival_date_day_of_month        79213 non-null  int64
 7   stays_in_weekend_nights          79213 non-null  int64
 8   stays_in_week_nights             79213 non-null  int64
 9   adults                           79213 non-null  int64
 10  children                         79213 non-null  int64
 11  babies                           79213 non-null  int64
 12  meal                             79213 non-null  object
 13  country                          79213 non-null  object
 14  market_segment                   79213 non-null  object
 15  distribution_channel             79213 non-null  object
 16  is_repeated_guest                79213 non-null  int64
 17  previous_cancellations           79213 non-null  int64
 18  previous_bookings_not_cancelled  79213 non-null  int64
 19  reserved_room_type               79213 non-null  object
 20  assigned_room_type               79213 non-null  object
 21  booking_changes                  79213 non-null  int64
 22  deposit_type                     79213 non-null  object
 23  agent                            79213 non-null  int64
 24  days_in_waiting_list             79213 non-null  int64
 25  customer_type                    79213 non-null  object
 26  adr                              79213 non-null  float64
 27  required_car_parking_spaces      79213 non-null  int64
 28  total_of_special_requests        79213 non-null  int64
 29  reservation_status               79213 non-null  object
 30  reservation_status_date          79213 non-null  object
dtypes: float64(1), int64(18), object(12)
memory usage: 19.3+ MB

In [45]:
df

,hotel,is_cancelled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_cancelled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304,0,Transient,75.00,0,0,Check-Out,2015-07-02
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,0,0,Transient,107.00,0,0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,0,Transient,151.20,0,2,Check-Out,2017-09-07

### Checking for Duplicatation

In [43]:
df.duplicated(keep=False).sum()

np.int64(0)

## Export the Cleaned Dataset

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79213 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   hotel                            79213 non-null  object
 1   is_cancelled                     79213 non-null  int64
 2   lead_time                        79213 non-null  int64
 3   arrival_date_year                79213 non-null  int64
 4   arrival_date_month               79213 non-null  object
 5   arrival_date_week_number         79213 non-null  int64
 6   arrival_date_day_of_month        79213 non-null  int64
 7   stays_in_weekend_nights          79213 non-null  int64
 8   stays_in_week_nights             79213 non-null  int64
 9   adults                           79213 non-null  int64
 10  children                         79213 non-null  int64
 11  babies                           79213 non-null  int64
 12  meal                             79213 non-null  object
 13  country                          79213 non-null  object
 14  market_segment                   79213 non-null  object
 15  distribution_channel             79213 non-null  object
 16  is_repeated_guest                79213 non-null  int64
 17  previous_cancellations           79213 non-null  int64
 18  previous_bookings_not_cancelled  79213 non-null  int64
 19  reserved_room_type               79213 non-null  object
 20  assigned_room_type               79213 non-null  object
 21  booking_changes                  79213 non-null  int64
 22  deposit_type                     79213 non-null  object
 23  agent                            79213 non-null  int64
 24  days_in_waiting_list             79213 non-null  int64
 25  customer_type                    79213 non-null  object
 26  adr                              79213 non-null  float64
 27  required_car_parking_spaces      79213 non-null  int64
 28  total_of_special_requests        79213 non-null  int64
 29  reservation_status               79213 non-null  object
 30  reservation_status_date          79213 non-null  object
dtypes: float64(1), int64(18), object(12)
memory usage: 19.3+ MB

In [ ]:
df.to_csv('hotel-booking_cleaned.csv', index=False)

----